<p>There are {{totalCarParts()}} total parts in stock.</p>
<p>Name string: {{carPartNames()}}</p>
<ul>
  <li class="card" *ngFor="let carPart of carParts">
    <div class="panel-body">
      <div class="photo">
        <img [src]="carPart.image">
      </div>
      <table class="product-info">
        <tr>
          <td>
            <h2>{{carPart.name | uppercase}}</h2>
            <p class="description">{{carPart.description}}</p>
            <p class="price">{{carPart.price | currency:'USD':true}}</p>
            <p class="inventory" *ngIf="carPart.inStock > 0">{{carPart.inStock}} in Stock</p>
            <p class="inventory" *ngIf="carPart.inStock === 0">Out of Stock</p>
          </td>
        </tr>
      </table>
    </div>
  </li>
</ul>